header {
  position: relative;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

#images-counter {
  position: absolute;
}

#clock {
  width: 400px;
  position: absolute;
  left: calc(50% - 200px);
  top: 0;
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  aspect-ratio: 4 / 3;
}

.image {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 5px solid gray;
  transition: 0.3s;
}

.image:nth-child(4n + 1) {
  border: 5px solid red;
}

.image:hover {
  transform: rotate(45deg);
  border: 5px solid yellow;
  transition: 0.3s;
}

@media (max-width: 900px) {
  header {
    font-size: 12px;
  }
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    aspect-ratio: 2 / 6;
  }
  .image:nth-child(2n + 1) {
    border: 5px solid red;
  }
}

@media (max-width: 500px) {
  #clock {
    width: 200px;
    left: calc(50% - 100px);
  }
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    aspect-ratio: 1 / 12;
  }
  .image:nth-child(n + 1) {
    border: 5px solid red;
  }
}